* {
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(0, 0%, 95%);
}

header {
	text-align: center;
	background-color: antiquewhite;
	padding: 1rem 0;
}

header a {
	text-decoration: none;
	border: 1.5px solid hsl(184, 100%, 22%);
	padding: 0.5rem 0.5rem;
	border-radius: 1rem;
}

header a:hover {
	background-color: hsl(184, 100%, 22%);
	color: hsl(0, 0%, 95%);
	cursor: pointer;
	border: 1.5px solid hsl(0, 0%, 95%);
}

main {
	width: 60%;
	height: 80vh;
	margin: auto;
	padding-top: 2rem;
	display: grid;
	margin-top: 2rem;
	gap: 1rem;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: auto auto auto auto auto;
}
main > div {
	padding: 1rem;
	text-align: center;
	font-size: 1.5rem;
}

.box-1 {
	background-color: orangered;
	grid-column: 1/4;
	grid-row: 1/3;
}

.box-2 {
	background-color: orange;
	grid-column: 4/5;
	grid-row: 1/3;
}

.box-3 {
	background-color: green;
	grid-column: 1/3;
	grid-row: 3/5;
}

.box-4 {
	background-color: rgb(0, 183, 255);
	grid-column: 3/5;
	grid-row: 3/4;
}

.box-5 {
	background-color: rgb(0, 183, 255);
	grid-column: 3/5;
	grid-row: 4/5;
}
