@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

body {
	background-color: hsl(0, 0%, 95%);
}

body {
	margin: 0;
	padding: 0;
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
	box-sizing: border-box;
	font-size: 15px;
}

header {
	text-align: center;
	background-color: antiquewhite;
	padding: 1rem 0;
}

header a {
	text-decoration: none;
	border: 1.5px solid hsl(184, 100%, 22%);
	padding: 0.5rem 0.5rem;
	border-radius: 1rem;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.column1 {
	background-color: hsl(31, 77%, 52%);
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.column2 {
	background-color: hsl(184, 100%, 22%);
}

.column3 {
	background-color: hsl(179, 100%, 13%);
	border-bottom-right-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

div > h2 {
	color: hsla(0, 0%, 100%, 0.75);
	font-family: "Big Shoulders Display", cursive;
	font-weight: 700;
}

button {
	padding: 1rem 2rem;
	margin-top: 2rem;
	border-radius: 2rem;
	border: none;
	margin-top: 5rem;
}

.column1,
.column2,
.column3 {
	width: 18%;
	padding: 3rem;
}

p {
	line-height: 1.6rem;
	color: hsla(0, 0%, 100%, 0.75);
}

.column1 button {
	color: hsl(31, 77%, 52%);
}

.column2 button {
	color: hsl(184, 100%, 22%);
}

.column3 button {
	color: hsl(179, 100%, 13%);
}

.column1 button:active {
	background-color: hsl(31, 77%, 52%);
	color: hsl(0, 0%, 95%);
	cursor: pointer;
	border: 1.5px solid hsl(0, 0%, 95%);
}

.column2 button:active,
header a:hover {
	background-color: hsl(184, 100%, 22%);
	color: hsl(0, 0%, 95%);
	cursor: pointer;
	border: 1.5px solid hsl(0, 0%, 95%);
}

.column3 button:active {
	background-color: hsl(179, 100%, 13%);
	color: hsl(0, 0%, 95%);
	cursor: pointer;
	border: 1.5px solid hsl(0, 0%, 95%);
}

@media only screen and (max-width: 600px) {
	main {
		display: block;
		margin-top: 0.6rem;
	}

	.column1,
	.column2,
	.column3 {
		width: 60%;
		margin: 0 auto;
		padding: 2 rem;
	}

	.column1 {
		border-bottom-left-radius: 0;
		border-top-right-radius: 0.5rem;
	}

	.column3 {
		border-bottom-left-radius: 0.5rem;
		border-top-right-radius: 0;
	}

	button {
		margin-top: 1rem;
	}
}
